* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.expense {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.expense-container {
  width: 300px;
  min-height: 350px;
  border: 1px rgb(76 141 255) solid;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expense-title {
  margin-bottom: 20px;
}
.expense-total__balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.income-expense {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.history {
  width: 100%;
}
.history-title {
  border-bottom: 1px rgba(0, 0, 0, 0.342) solid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.add-transaction {
  width: 100%;
}
.transaction-title {
  border-bottom: 1px rgba(0, 0, 0, 0.342) solid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.transaction-category__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.transaction-category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input {
  padding: 5px;
}
.add-transaction__btn {
  width: 100%;
  padding: 3px;
  background-color: rgb(76 141 255);
  border: 1px rgba(0, 0, 0, 0.342) solid;
  cursor: pointer;
  margin-bottom: 20px;
}
.clear-transaction__btn {
  width: 100%;
  padding: 3px;
  background-color: rgb(76, 255, 100);
  border: 1px rgba(0, 0, 0, 0.342) solid;
  cursor: pointer;
}
.elem-transactions {
  display: flex;
  justify-content: space-between;
  border: 1px rgba(0, 0, 0, 0.342) solid;
  padding: 5px;
}
.elem-name {
  font-size: 20px;
}
.elem-amount {
  font-size: 20px;
}
.elem-delete {
  width: 20px;
  height: 20px;
  display: flex;
  cursor: pointer;
}
.sum {
  display: flex;
  gap: 10px;
  align-items: center;
}
